{% extends "tube/layout.html" %}
{% load static %}

{% block body %}

    <div class="container">
  
        <div class="row d-flex flex-sm-column flex-lg-row">

            <div class="col-sm-12 col-lg-2 flex-sm-row flex-lg-column">

                <nav class="navbar sticky-top navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">TheyTube</a>
                        <nav class="nav flex-sm-row flex-lg-column">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="#">Trash</a>
                            {% endif %}    
                            <a class="nav-link" href="#">Library</a>
                        </nav>
                    </div>    
                </nav>

            </div>

            <div class="col-sm-12 col-lg-10">
                
                <nav class="navbar sticky-top navbar-light bg-light">
                    <div class="container-fluid flex-column flex-sm-column flex-md-row flex-lg-row">
                        <form class="d-flex w-50" id="search-form">
                            <input class="form-control me-2" id="search-input" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" id="search-submit" type="submit">Search</button>
                        </form>
                        <nav class="nav">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="javascript:void(0);" onclick="upload_video();">Upload Video</a>
                                <a class="nav-link" href="#">{{ user.username }}</a>
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            {% endif %}    
                        </nav>
                    </div>
                </nav>

                <div class="container">
                    <div class="row">
                        <p>
                            <button class="btn btn-secondary btn-sm mt-1" id="filter-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                                <i class="bi bi-filter"></i>
                            </button>
                        </p>
                        <div class="collapse mb-2" id="collapseFilter">
                            <div class="card card-body d-flex flex-sm-column flex-md-row flex-lg-row flex-xl-row justify-content-between" id="filter">
                                <div>
                                    <h6>Upload date</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate0" value="any" checked>
                                        <label class="form-check-label" for="uploadDate0">
                                            Any time
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate1" value="hour">
                                        <label class="form-check-label" for="uploadDate1">
                                            Last hour
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate2" value="day">
                                        <label class="form-check-label" for="uploadDate2">
                                            Today
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate3" value="week">
                                        <label class="form-check-label" for="uploadDate3">
                                            This week
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate4" value="month">
                                        <label class="form-check-label" for="uploadDate4">
                                            This month
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="uploadDate" id="uploadDate5" value="year">
                                        <label class="form-check-label" for="uploadDate5">
                                            This year
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <h6>Duration</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="duration" id="duration0" value="any" checked>
                                        <label class="form-check-label" for="duration0">
                                            Any
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="duration" id="duration1" value="lt4">
                                        <label class="form-check-label" for="duration1">
                                            Less than 4 minutes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="duration" id="duration2" value="4to20">
                                        <label class="form-check-label" for="duration2">
                                            4 to 20 minutes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="duration" id="duration3" value="mt20">
                                        <label class="form-check-label" for="duration3">
                                            With more than 20 minutes
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <h6>Order by</h6>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderBy" id="orderBy1" value="date" checked>
                                        <label class="form-check-label" for="orderBy1">
                                            Upload date
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderBy" id="orderBy2" value="views">
                                        <label class="form-check-label" for="orderBy2">
                                            Views
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="orderBy" id="orderBy3" value="classification">
                                        <label class="form-check-label" for="orderBy3">
                                            Classification
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row" id="video-container">
                    </div>
                </div>
    
            </div>

        </div>

    </div>

    <div class="modal" id="uploadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Send Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">    
                    <div id="drop-area" style="text-align: center;">
                        <form>
                            <svg id="upload-icon" xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                            <p>Drag and drop the video file to send it</p>
                            <input type="file" id="videoFile" accept="video/*" onchange="handle_video(this.files[0])" hidden>
                            <label class="btn btn-primary" for="videoFile">Select file</label>
                        </form>
                    </div>       
                    <div id="details">
                        <form action="{% url 'send' %}" method="post" enctype='multipart/form-data'>
                            <div class="mb-3">
                                <label for="{{ detailsForm.title.id_for_label }}" class="form-label">Title (mandatory)</label>
                                {{ detailsForm.title }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ detailsForm.description.id_for_label }}" class="form-label">Description</label>
                                {{ detailsForm.description }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ detailsForm.image.id_for_label }}" class="form-label">Thumbnail</label>
                                {{ detailsForm.image }}
                                <div class="form-text">
                                    Upload an image that shows what's in your video.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="{{ detailsForm.category.id_for_label }}" class="form-label">Category</label>
                                {{ detailsForm.category }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ detailsForm.visibility.id_for_label }}" class="form-label">Visibility</label>
                                {{ detailsForm.visibility }}
                            </div>
                            <div class="d-grid d-md-flex justify-content-md-end">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}

{% block script %}
    <script src="{% static 'tube/video.js' %}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
    
            console.log('Hello my friend');
            
            // Hide filter button initially 
            document.querySelector('#filter-button').style.display = 'none';

            load_videos();
            search();
        });

    </script>
{% endblock %}