#details input:focus + label { 
    color: #0077ff;
}

#details .form-control:focus, #details .form-select:focus {
    border-color: rgb(0, 127, 255);
    box-shadow: none;
}

video {
    width: 60% !important;
    height: auto !important;
}

/*.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: 4%;
    font-weight: 500;
}

.username {
    color: gray;
}*/